=d
  @media only screen and (max-width: "1120px")
    @content
=t
  @media only screen and (max-width: "1023px")
    @content
=m
  @media only screen and (max-width: "767px")
    @content
=s
  @media only screen and (max-width: "474px")
    @content

+font(MaisonNeueBold, MaisonNeueBold)
=fm
  font-family: 'MaisonNeueBold', serif

+font(TrumpGothicEast Bold, TrumpGothicEast Bold)
=ft
  font-family: 'TrumpGothicEast Bold', serif

$black: #1a1a1a
$white: #fff
$red: #e54b4b

body
  min-width: 320px
  background: #f5f5f5
  font-family: 'Myriad Pro', serif
  font-size: 14px
  line-height: (22/14) 
  &.no-scroll
    overflow: hidden
    
body,
button,
input,
textarea,
select

button
  background: none 
  
a
  text-decoration: none
  color: $black
  
.out
  padding: 20px 0


.center
  max-width: 1100px
  margin: 0 auto
  padding: 0 25px
  
.main
  position: relative
  &__inner
    position: relative
    padding: 25px 95px 25px 25px
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4) 
  &__box
    display: none
    &.visible
      display: flex
  &__box.animate-out &__pic
    opacity: 0
    visibility: hidden
    transition-delay: .6s, .6s
  &__box.animate-in &__pic
    opacity: 1
    transform: scale(1)
  &__box.animate-out &__body
    opacity: 0
    transform: translateX(100px)
    transition-delay: .6s, .6s
  &__box.animate-in &__body
    opacity: 1
    transform: translateX(0px)
  &__box.animate-out &__footer
    opacity: 0
    transform: translateX(-100px)
    transition-delay: .6s, .6s
  &__box.animate-in &__footer
    opacity: 1
    transform: translateX(0px)
  &__box.animate-out &__stars .stars__preview
    opacity: 0
    transform: translateY(-40px)
  &__box.animate-in &__stars .stars__preview
    opacity: 1
    transform: translateY(0px)
  &__box.animate-out &__stars .stars__preview:first-child
    transition-delay: .2s, .2s
  &__box.animate-out &__stars .stars__preview:nth-child(2)
    transition-delay: .3s, .3s
  &__box.animate-out &__stars .stars__preview:nth-child(3)
    transition-delay: .4s, .4s
  &__box.animate-out &__stars .stars__preview:nth-child(4)
    transition-delay: .5s, .5s
  &__box.animate-out &__stars .stars__preview:nth-child(5)
    transition-delay: .6s, .6s
  &__box.animate-in &__stars .stars__preview:first-child
    transition-delay: .6s, .6s
  &__box.animate-in &__stars .stars__preview:nth-child(2)
    transition-delay: .5s, .5s
  &__box.animate-in &__stars .stars__preview:nth-child(3)
    transition-delay: .4s, .4s
  &__box.animate-in &__stars .stars__preview:nth-child(4)
    transition-delay: .3s, .3s
  &__box.animate-in &__stars .stars__preview:nth-child(5)
    transition-delay: .2s, .2s
  &__preview
    flex: 0 0 66.85%
  &__pic
    opacity: 0
    transform: scale(.8) 
    font-size: 0
    transition: opacity .6s .6s, visibility .6s .6s, transform .8s .6s
  &__img
    width: 100% 
  &__wrap
    position: relative
    flex: 0 0 33.15%
    padding: 30px 0 0 40px
  &__stars
    padding-left: 40px
    margin-bottom: 40px
  &__menu
    display: flex
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    flex-direction: column
    align-items: center
    justify-content: center
    background: $white
    opacity: 0
    visibility: hidden
    transition: opacity .2s, visibility .2s  
    z-index: 99  
    &.visible
      opacity: 1
      visibility: visible 
  &__menu.visible &__item
    transform: translateY(0px)
    opacity: 1
    &:nth-child(1)
      transition-delay: .4s, .4s 
    &:nth-child(2)
      transition-delay: .6s, .6s 
    &:nth-child(3)
      transition-delay: .8s, .8s 
    &:nth-child(4)
      transition-delay: 1s, 1s 
    &:nth-child(5)
      transition-delay: 1.2s, 1.2s 
    &:nth-child(6)
      transition-delay: 1.4s, 1.4s
  &__item
    margin-bottom: 20px
    +fm
    font-size: 20px
    opacity: 0 
    color: $red 
    transform: translateY(20px)
    transition: opacity .4s, transform .4s
    &:last-child
      margin-bottom: 0 
  &__body
    margin-bottom: 30px
    opacity: 0
    transform: translateX(-70px)
    transition: opacity .6s .5s, transform .6s .5s
  &__title
    margin-top: -10px
    margin-left: -75px
    +ft
    font-size: 102px
    line-height: 1
    letter-spacing: 1.5px 
    text-transform: uppercase
    color: $red
  &__list
    position: absolute
    top: 115px
    right: 25px
    display: flex
    flex-direction: column
    z-index: 20
  &__number
    margin-bottom: 42px
    +fm
    text-transform: uppercase
    line-height: 1
    color: rgba($black, .15) 
    cursor: pointer
    transition: transform .2s, color .2s
    &:last-child
      margin-bottom: 0
    &:hover
      color: rgba($black,.5)
    &.active
      transform: scale(1.2)
      color: $black 
  &__footer
    opacity: 0
    transform: translateX(70px)
    transition: opacity .6s .5s, transform .6s .5s
  &__text
    max-width: 260px
    margin-bottom: 10px
    color: rgba($black, .35)
  &__link
    display: inline-block
    +fm
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 3px 
    color: $red 
    transition: all .2s 
    &:hover
      letter-spacing: 4px 
  &__burger
    position: absolute
    top: 25px
    right: 25px
    // animation: rotate 2s infinite  
  
@keyframes rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.burger 
  width: 50px
  height: 50px
  padding: 0
  background-color: $black
  border: none
  outline: none
  z-index: 110
  &:hover 
    cursor: pointer
  


.isNavOpen 
  overflow: hidden

.stars
  display: flex
  align-items: center
  &__preview
    margin-right: 7px
    font-size: 0
    transform: translateY(-150px)
    opacity: 0 
    transition: opacity .6s 1s, transform .6s 1s
    &:last-child
      margin-right: 0
  &__pic
    width: 18px
    

