=d
  @media only screen and (max-width: "1120px")
    @content
=t
  @media only screen and (max-width: "1023px")
    @content
=m
  @media only screen and (max-width: "767px")
    @content
=s
  @media only screen and (max-width: "474px")
    @content

+font(MaisonNeueBold, MaisonNeueBold)
=fm
  font-family: 'MaisonNeueBold', serif

+font(TrumpGothicEast Bold, TrumpGothicEast Bold)
=ft
  font-family: 'TrumpGothicEast Bold', serif

$black: #1a1a1a
$white: #fff
$red: #e54b4b

body
  min-width: 320px
  background: #f5f5f5
  font-family: 'Myriad Pro', serif
  font-size: 14px
  line-height: (22/14) 
  &.no-scroll
    overflow: hidden
    
body,
button,
input,
textarea,
select

button
  background: none 
  
a
  text-decoration: none
  color: $black
  
.out
  padding: 150px 0


.center
  max-width: 1100px
  margin: 0 auto
  padding: 0 25px
  
.main
  position: relative
  &__inner
    display: flex
    padding: 25px
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4) 
  &__preview
    flex: 0 0 62.5%
  &__pic
    font-size: 0
  &__img
    width: 100% 
  &__wrap
    position: relative
    flex: 0 0 37.5%
    padding: 30px 0 0 40px
  &__stars
    padding: 0 70px 0 40px 
    margin-bottom: 40px
  &__menu
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    flex-direction: column
    align-items: center
    justify-content: center
    background: $white
    z-index: 99  
    &.visible
      display: flex
  &__item
    margin-bottom: 20px
    +fm
    font-size: 20px
    color: $red 
    &:last-child
      margin-bottom: 0
  &__body
    margin-bottom: 30px
    display: flex
    justify-content: space-between
  &__title
    margin-top: -10px
    margin-left: -75px
    +ft
    font-size: 102px
    line-height: 1
    text-transform: uppercase
    color: $red
  &__list
    display: flex
    flex-direction: column
  &__number
    margin-bottom: 40px
    +fm
    text-transform: uppercase
    line-height: 1
    color: rgba($black, .15) 
    cursor: pointer
    &:last-child
      margin-bottom: 0
    &.active
      color: $black 
  &__text
    max-width: 260px
    margin-bottom: 10px
    color: rgba($black, .35)
  &__link
    +fm
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 2px 
    color: $red 

.burger 
  z-index: 110
  position: absolute
  top: 0
  right: 0
  width: 50px
  height: 50px
  padding: 0
  background-color: $black
  border: none
  outline: none
  &:hover 
    cursor: pointer
  


.isNavOpen 
  overflow: hidden;

.stars
  display: flex
  align-items: center
  &__preview
    margin-right: 7px
    font-size: 0
    &:last-child
      margin-right: 0
  &__pic
    width: 18px
    

